@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* index.css or tailwind.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Custom styles can go here */
footer {
  background-color: #2d3748; /* Tailwind's gray-800 */
  color: #ffffff; /* White text */
  padding: 1rem;
  text-align: center;
}